---
import { Github, AtSign, Linkedin } from 'lucide-react';

import BaseLayout from '../layouts/BaseLayout.astro';
import DayCounter from '../components/DayCounter.tsx';
import { CAREER_START_DATE } from '../consts';
---

<BaseLayout>
  <div class="flex flex-col gap-16">
    <section class="flex justify-center w-full h-[280px] overflow-hidden">
      <div
        class="flex justify-center items-center pt-18 hover:rotate-2 transition-all duration-300"
      >
        <img height="450px" width="450px" src="/profile.webp" alt="me_drinking_beer" />
      </div>
    </section>

    <section class="flex flex-col gap-10">
      <div class="flex flex-col text-center text-3xl font-medium">
        <h2 lang="ja">
          こんにちは。<ruby>金台洙<rp>(</rp><rt>キム・テス</rt><rp>)</rp></ruby>です。
        </h2>
        <h2 lang="ko">김태수 입니다.</h2>
        <h2 lang="en">Hi, I'm Kim Taesu.</h2>
      </div>

      <p lang="ja" class="text-center">
        韓国のソウルに住んでいて、ソフトウェアエンジニアとして<DayCounter
          startDate={CAREER_START_DATE}
        />日間働いています。
        <br />
        特定の技術や分野に依存せず、製品を作り出す<strong>プロダクトエンジニア</strong
        >を目指しています。
        <br />
        また、国籍や言語に依存しないエンジニアになるように努力しています。
      </p>

      <p lang="ko" class="text-center">
        대한민국, 서울에 살면서 <DayCounter startDate={CAREER_START_DATE} />일째 개발을 하고
        있습니다.
        <br />
        특정 기술이나 분야에 구애받지 않고, 제품을 만들어 나가는 <strong>프로덕트 엔지니어</strong
        >를 지향하고 있습니다.
        <br />
        또한 국적과 언어에 구애받지 않는 엔지니어가 되도록 노력하고 있습니다.
      </p>

      <p lang="en" class="text-center">
        Living in Seoul, South Korea and working as a software engineer for <DayCounter
          startDate={CAREER_START_DATE}
        /> days.
        <br />
        I'm aiming to be a <strong>Product Engineer</strong> who doesn't depend on specific techs or
        fields.
        <br />
        and also striving to be an engineer who is not dependent on country or language.
      </p>
    </section>

    <section class="flex flex-col items-center relative">
      <h4 class="text-xl font-bold bg-white relative top-[22px] p-2 px-2">Contact</h4>
      <div
        class="flex flex-col items-center gap-4 border border-dashed border-gray-800 max-w-[450px] w-full h-[160px] p-4"
      >
        <ul class="flex flex-col items-center text-sm text-gray-800 underline w-[300px]">
          <li class="flex items-center gap-2 hover:text-blue-500">
            <AtSign size={16} />
            <a target="_blank" href="mailto:like.gecko1@gmail.com"> like.gecko1@gmail.com </a>
          </li>
          <li class="flex items-center gap-2 hover:text-blue-500">
            <Github size={16} />
            <a target="_blank" href="https://github.com/likegecko">https://github.com/likegecko</a>
          </li>
          <li class="flex items-center gap-2 hover:text-blue-500">
            <Linkedin size={16} />
            <a target="_blank" href="https://www.linkedin.com/in/likegecko">
              https://www.linkedin.com/in/likegecko
            </a>
          </li>
        </ul>
        <div class="flex flex-col items-center">
          <p lang="ja" class="text-xs font-light">何も大丈夫です。お気軽にご連絡お願いします。</p>
          <p lang="ko" class="text-xs font-light">
            어떤 것이든 상관없습니다. 편하게 메일 부탁드립니다.
          </p>
          <p lang="en" class="text-xs font-light">Anything is ok. Please contact me.</p>
        </div>
      </div>
    </section>
  </div>
</BaseLayout>
