---
const today = new Date();
---

<footer class="w-full flex items-center justify-center">
  <div class="h-full max-w-4xl w-full flex flex-col items-center px-4">
    <p class="text-gray-500 text-sm">
      ©2021-{today.getFullYear()} likegecko. All rights reserved.
    </p>
    <p class="text-gray-500 text-sm">Powered by Coffee.</p>
  </div>
</footer>
