---
import Header from '../components/Header.tsx';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="ko">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="h-screen flex flex-col">
    <div>
      <Header />
    </div>
    <div class="w-full flex justify-center flex-1">
      <main class="w-full max-w-4xl px-4 py-15">
        <slot />
      </main>
    </div>
    <div>
      <Footer />
    </div>
  </body>
</html>
